* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    margin-top: 10vh;
    width: 70vw;
    height: auto;
    border: 1px solid grey;
    box-shadow: 0.4rem 0.7rem 1rem grey;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: none;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
}

p {
    padding: 0.5rem;
}

h1 {
    text-align: center;
}

header {
    border-bottom: 0.4px solid grey;
}

.nav-link {
    flex: 1;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: black;
    background-color: lightgrey;
}

.nav-link:active {
    background-color: greenyellow;
}


.nav-active {
    border-bottom: 2px solid black;
}

main {
    display: flex;
    flex-direction: row;
}

main > section {
    flex: 3;
    padding: 1rem;
    border-right: 0.4px solid grey;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.aside-link {
    padding: 0.5rem 1rem;
    display: block;
    text-align: left;
    color: black;
    text-decoration: none;
}

.aside-link:hover {
    background-color: lightgrey;
}

.aside-active {
    border-left: 0.2rem solid black;
}

.profile-image {
    max-width: 10vw;
    height: auto;
}

#home-folder {
    height: 60vh;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
}

.home-profile-image{
    width: 180px;
    height: 200px;
}

.home-text-wrapper {
    color: white;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
}

/* social Links */
.social-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icons a{
    display: flex;
    background: #f3f5f6;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.social-icons a i{
    font-size: 2.5rem;
    color: #777;
    transition: transform 0.5s;
}

.social-icons a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(19, 18, 18, 0.05);
    transform: translateY(2px);
}

.social-icons a:hover .fa-globe{
    color: #4fce5d;
}
.social-icons a i:hover{
    transform: scale(0.90);
}

.social-icons a:hover .fa-facebook-square{
    color: #3b5998;
}

.social-icons .insta:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,     #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: none;
    border: none;
}

.social-icons a:hover .fa-instagram{
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,     #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social-icons a:hover .fa-youtube-play{
    color: #f00;
}

.social-icons a:hover .fa-linkedin-square{
    color: #0099CC;
}

.social-icons a:hover .fa-twitter-square{
    color: #1da1f2;
}



/* #abut-folder {
    display: flex;
} */

.profile-card, .profile-information {
    /* flex: 1; */
}

.profile-card a {
    text-decoration: none;
}

.profile-card h2 {
    font-size: 1.5rem;
}

.work-card img, .about-card img {
    max-width: 10vw;
}

#work-folder, #contact-folder, #about-folder, #aside {
    display: none;
}

#work-folder > div:not(:first-child){
    display: none;
}

#contact-folder > div:not(:first-child){
    display: none;
}

#about-folder > div:not(:first-child){
    display: none;
}

#aside a:active {
    background-color: yellowgreen;
}

@media screen and (max-width: 992px) {
    main {
        display: flex;
        flex-direction: column;
    }    
    
    #home-folder {
        flex-direction: column;
    }

    .home-image {
        text-align: center;
    }
    
    aside {
        border-top: 1px solid grey;
    }

    .home-text-wrapper h2 {
        margin: 0.5rem;
    }

}
